boto3==1.7.4
botocore==1.10.4
docutils==0.14
google-api-python-client==1.6.6
httplib2==0.11.3
jmespath==0.9.3
oauth2client==4.1.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.1
rsa==3.4.2
s3transfer==0.1.13
selenium==3.11.0
six==1.11.0
uritemplate==3.0.0
